<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteSk">
  <test thread-count="5" name="TestSK">
    <classes>
      <class name="TestofRestAssured.E2E4"/>
      <class name="TestofRestAssured.E2E3"/>
      <class name="TestofRestAssured.E2E2"/>
      <class name="TestofRestAssured.E2E"/>
    </classes>
  </test> <!-- TestSK -->
</suite> <!-- SuiteSk -->
